<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cv -->
      <category
            id="org.nasdanika"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.cv.presentation.cvModelWizardID"
            name="%_UI_cvModelWizard_label"
            class="org.nasdanika.cv.presentation.CvModelWizard"
            category="org.nasdanika"
            icon="icons/full/obj16/cvModelFile.gif">
         <description>%_UI_cvModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cv -->
      <editor
            id="org.nasdanika.cv.presentation.cvEditorID"
            name="%_UI_cvEditor_label"
            icon="icons/full/obj16/cvModelFile.gif"
            extensions="nsdcv"
            class="org.nasdanika.cv.presentation.CvEditor"
            contributorClass="org.nasdanika.cv.presentation.CvActionBarContributor">
      </editor>
   </extension>

</plugin>
